In [1]:
import re
import pandas as pd
import json

In [2]:
def get_addresses(string):
    pattern_address = r"\".*?[A-Z][0-9][A-Z] [0-9][A-Z][0-9]\": {.*?\"Baths Half\": \"[0-9]+\"}"
    pattern_content = r"{.*?}"
    addresses = re.findall(pattern_address, str1)
    return addresses

def get_rooms(string):
    room_pattern = "'rooms': \[\[[\S ]+?\]\]"
    rooms = re.findall(room_pattern, string)
    #print(rooms)
    return rooms

def rv_rooms(string):
    r_pattern = "'rooms': \[\[[\S ]+?\]\], "
    string_new = re.sub(r_pattern, "",string) 
    return string_new

def rv_numkeys(string):
    num_pattern = r"'[0-9]+?': '[\S ]+?', "
    string_new = re.sub(num_pattern, "",string) 
    return string_new

def rv_white(string):
    invalid_pattern = "\"\": {[\S ]+?}, "
    string_new = re.sub(invalid_pattern, "", string)
    
    white_pattern = r"[\t\n\r\f\v]+"
    string_new = re.sub(white_pattern, "", string_new)
    
    head_pattern = r"'"
    string_new = re.sub(head_pattern, "", string_new)
    
    slash_pattern = r"\\\""
    string_new = re.sub(slash_pattern, "", string_new)

    new_pattern = r"\\u00a0"
    string_new = re.sub(new_pattern, "", string_new)
    
    new_pattern = r"\\u00ad"
    string_new = re.sub(new_pattern, "", string_new)
    return string_new

def get_data_from_string(string):

    columns = ['Address', 'Style', 'Bedrms', 'Zone', 'Area', 'Basement', 'Building Type', 'Sold Price', 'Heating Type', 'Baths Full', 'Amenities', 'Roof Type', 'Goods Included', 'Foundation', 'Bedrms Above Grade', 'Flooring', 'Basement Development', 'List Price', 'Fireplace', 'Land Use Code', 'Property Type', 'Tax Amount', 'MLSÂ® Number', 'Heating Fuel', 'Tot Flr Area A.G. (SF)', 'Enclosed Parking', 'day_sold', 'base_description', 'Total Parking', 'Features', 'dom', 'Site Influences', 'Listing Firm 1 Name', 'Yr Built', 'Community', 'Front Exposure', 'Exterior', 'Parking', 'Beds Total', 'Construction Type', 'Tot Flr Area AG Metres', 'Baths Half', 'rooms']


    df = pd.DataFrame(None, None, columns=columns)

    string_clean = rv_white(string)
    
    d_1st = json.loads(string_clean)
    
    row = -1

    for key_1st in d_1st.keys():
        row += 1
        df.loc[row, 'Address'] = key_1st
        str_2nd = str(d_1st[key_1st])

        str_rooms = get_rooms(str_2nd)

        str_rooms_value = str_rooms[0].replace("'rooms': ", "")

        df.loc[row, 'rooms'] = str_rooms_value
        str_2nd_clean = rv_rooms(str_2nd)
        str_2nd_cleaner = rv_numkeys(str_2nd_clean)

        str_2nd_json = str_2nd_cleaner.replace("'", "\"")

        #print("Arount 1030-1050 position:", str_2nd_json[1030:1050])
        
        #print("Arount 859-860 position:", str_2nd_json[845:870])
        d_2nd = json.loads(str_2nd_json)

        for key_2nd in d_2nd.keys():
            if key_2nd in df.columns:
                df.loc[row, key_2nd] = d_2nd[key_2nd]
    
    return df

In [3]:
#load and clean the data file

rowcount = 0
dflist=[]
for i in range(1, 46):
    print(i)
    with open("./data/"+str(i)+".attrs", 'r') as f:
        x = f.readlines()
    
    df1 = get_data_from_string(x[0])
    print(df1.shape)
    rowcount += df1.shape[0]
    dflist.append(df1)
    
print("Total RowCount:", rowcount)

1
(498, 43)
2
(489, 43)
3
(485, 43)
4
(485, 43)
5
(490, 43)
6
(489, 43)
7
(489, 43)
8
(444, 43)
9
(459, 43)
10
(494, 43)
11
(467, 43)
12
(462, 43)
13
(493, 43)
14
(482, 43)
15
(485, 43)
16
(497, 43)
17
(471, 43)
18
(496, 43)
19
(492, 43)
20
(470, 43)
21
(492, 43)
22
(474, 43)
23
(496, 43)
24
(489, 43)
25
(497, 43)
26
(495, 43)
27
(497, 43)
28
(445, 43)
29
(474, 43)
30
(442, 43)
31
(446, 43)
32
(497, 43)
33
(452, 43)
34
(406, 43)
35
(466, 43)
36
(404, 43)
37
(448, 43)
38
(382, 43)
39
(441, 43)
40
(490, 43)
41
(425, 43)
42
(438, 43)
43
(446, 43)
44
(428, 43)
45
(443, 43)
Total RowCount: 21050

In [4]:
print(len(dflist))

df = pd.concat(dflist, ignore_index=True)

45

In [5]:
print(df.shape)

(21050, 43)

In [6]:
df.to_csv("./data/mls.csv", encoding='utf-8', index=False)

In [7]:
del df["rooms"]

In [8]:
del df["Zone"]

In [9]:
del df["Amenities"]

In [10]:
del df["Goods Included"]

In [11]:
del df["Foundation"]

In [12]:
del df["Bedrms Above Grade"]

In [13]:
del df["Flooring"]

In [14]:
del df["Fireplace"]

In [15]:
del df["Heating Fuel"]

In [16]:
del df["base_description"]

In [17]:
del df["Features"]

In [18]:
del df["dom"]

In [19]:
del df["Listing Firm 1 Name"]

In [20]:
del df["Exterior"]

In [21]:
df.to_csv("./data/mls_lighter.csv", encoding='utf-8', index=False)

In [22]:
df = pd.read_csv("./data/mls_lighter.csv")

In [23]:
del df["Basement Development"]

In [24]:
del df["Land Use Code"]

In [25]:
del df["Property Type"]

In [26]:
del df["Enclosed Parking"]

In [27]:
df.dtypes

Address                   object
Style                     object
Bedrms                     int64
Area                      object
Basement                  object
Building Type             object
Sold Price                object
Heating Type              object
Baths Full                 int64
Roof Type                 object
List Price                object
Tax Amount                object
MLSÂ® Number               object
Tot Flr Area A.G. (SF)    object
day_sold                  object
Total Parking             object
Site Influences           object
Yr Built                   int64
Community                 object
Front Exposure            object
Parking                   object
Beds Total                 int64
Construction Type         object
Tot Flr Area AG Metres    object
Baths Half                 int64
dtype: object

In [28]:
df.to_csv("./data/mls_further.csv", encoding='utf-8', index=False)

In [29]:
df = pd.read_csv("./data/mls_further.csv")

In [30]:
del df["Heating Type"]

In [31]:
del df["Area"]

In [32]:
del df["Roof Type"]

In [33]:
print (df.columns)

Index(['Address', 'Style', 'Bedrms', 'Basement', 'Building Type', 'Sold Price',
       'Baths Full', 'List Price', 'Tax Amount', 'MLSÂ® Number',
       'Tot Flr Area A.G. (SF)', 'day_sold', 'Total Parking',
       'Site Influences', 'Yr Built', 'Community', 'Front Exposure', 'Parking',
       'Beds Total', 'Construction Type', 'Tot Flr Area AG Metres',
       'Baths Half'],
      dtype='object')

In [34]:
del df["Front Exposure"]

In [35]:
del df["Tot Flr Area A.G. (SF)"]

In [36]:
del df["Parking"]

In [37]:
df.to_csv("./data/mls_new.csv", encoding='utf-8', index=False)

In [38]:
import numpy as np
import pandas as pd
import datetime

In [39]:
df = pd.read_csv("./data/mls_new.csv")

In [40]:
df_ac = pd.read_csv("./data/Assessments_by_Community.csv")

In [41]:
df.columns

Index(['Address', 'Style', 'Bedrms', 'Basement', 'Building Type', 'Sold Price',
       'Baths Full', 'List Price', 'Tax Amount', 'MLSÂ® Number', 'day_sold',
       'Total Parking', 'Site Influences', 'Yr Built', 'Community',
       'Beds Total', 'Construction Type', 'Tot Flr Area AG Metres',
       'Baths Half'],
      dtype='object')

In [42]:
df_ac.columns

Index(['date', 'Community name', 'COMM_CODE', 'Number of taxable accounts',
       'Median assessed value'],
      dtype='object')

In [43]:
df_ac = df_ac.rename(index=str, columns={"Community name": "Community"})

In [44]:
print(df.shape)
print(df_ac.shape)

(21050, 19)
(392, 5)

In [45]:
df_ac["date"] = pd.to_datetime(df_ac["date"])
date_after = datetime.date(2016, 5, 19)
df_ac_2016 = df_ac[df_ac['date'] < date_after]

In [46]:
df_ac_2016.shape

(197, 5)

In [47]:
df_new = pd.merge(df, df_ac_2016[["Community", "Median assessed value"]], on = "Community", how = "left")

In [48]:
df_new.shape

(22001, 20)

In [49]:
df_new["Total Parking"].fillna(0, inplace=True)
df_new["Site Influences"].fillna("None", inplace=True)

In [50]:
df_clean = df_new.dropna(how='any',axis=0)

In [51]:
for column in df_clean.columns:   
    print("columns name: " , column ,":" ,df_clean[[column]].isnull().sum().sum())

columns name:  Address : 0
columns name:  Style : 0
columns name:  Bedrms : 0
columns name:  Basement : 0
columns name:  Building Type : 0
columns name:  Sold Price : 0
columns name:  Baths Full : 0
columns name:  List Price : 0
columns name:  Tax Amount : 0
columns name:  MLSÂ® Number : 0
columns name:  day_sold : 0
columns name:  Total Parking : 0
columns name:  Site Influences : 0
columns name:  Yr Built : 0
columns name:  Community : 0
columns name:  Beds Total : 0
columns name:  Construction Type : 0
columns name:  Tot Flr Area AG Metres : 0
columns name:  Baths Half : 0
columns name:  Median assessed value : 0

In [52]:
df_clean.shape

(20400, 20)

In [53]:
df_clean["Site Influences"] = df_clean["Site Influences"].str.replace(", See Remarks", "")

/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
df_clean["Basement"] = df_clean["Basement"].str.replace(", See Remarks", "")

/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
#print(df_clean.select_dtypes(include=['object']))


for column in df_clean.columns:
    #print(type(column))
    if(df_clean[column].dtype == np.object):
        df_clean = df_clean[df_clean[column].str.contains("See Remarks") == False]

#ddf[ddf["C"].str.contains("XYZ") == False]

In [56]:
df_clean.shape

(20220, 20)

### Extract some features from column "Site Influences"

In [57]:
df_clean['Cul-De-Sac'] = df_clean['Site Influences'].str.contains('Cul-De-Sac', regex=True)

In [58]:
df_clean['Playground Nearby'] = df_clean['Site Influences'].str.contains('Playground Nearby', regex=True)

In [59]:
df_clean['Golf Nearby'] = df_clean['Site Influences'].str.contains('Golf Nearby', regex=True)

In [60]:
df_clean[df_clean["Total Parking"]=='4321']

Empty DataFrame
Columns: [Address, Style, Bedrms, Basement, Building Type, Sold Price, Baths Full, List Price, Tax Amount, MLSÂ® Number, day_sold, Total Parking, Site Influences, Yr Built, Community, Beds Total, Construction Type, Tot Flr Area AG Metres, Baths Half, Median assessed value, Cul-De-Sac, Playground Nearby, Golf Nearby]
Index: []

[0 rows x 23 columns]

In [61]:
df_clean.to_csv("./data/mls_new01.csv", encoding='utf-8', index=False)

In [62]:
import numpy as np
import pandas as pd
import datetime

In [63]:
df = pd.read_csv("./data/mls_new01.csv")

In [64]:
df.columns

Index(['Address', 'Style', 'Bedrms', 'Basement', 'Building Type', 'Sold Price',
       'Baths Full', 'List Price', 'Tax Amount', 'MLSÂ® Number', 'day_sold',
       'Total Parking', 'Site Influences', 'Yr Built', 'Community',
       'Beds Total', 'Construction Type', 'Tot Flr Area AG Metres',
       'Baths Half', 'Median assessed value', 'Cul-De-Sac',
       'Playground Nearby', 'Golf Nearby'],
      dtype='object')

In [65]:
df.head()

,Address,Style,Bedrms,Basement,Building Type,Sold Price,Baths Full,List Price,Tax Amount,MLSÂ® Number,...,Yr Built,Community,Beds Total,Construction Type,Tot Flr Area AG Metres,Baths Half,Median assessed value,Cul-De-Sac,Playground Nearby,Golf Nearby
0,"711 SCHUBERT, Calgary, Alberta T3L 1X4",Bi-Level,4,Full,Detached,"$530,000",3,"$549,900","$2,710",C4123006,...,1993,Scenic Acres,4,Wood Frame,121.982,0,528000.0,True,False,True
1,"23 BEDFORD, Calgary, Alberta t3k 1l2",Bi-Level,5,Full,Detached,"$401,888",2,"$389,900","$2,444",C4122649,...,1979,Beddington Heights,5,Wood Frame,115.757,1,355000.0,False,False,False
2,"394 Chaparral ridge, Calgary, Alberta T2X 3X9",2 Storey,4,Full,Detached,"$512,000",3,"$525,000","$3,290",C4122725,...,2006,Chaparral,4,Wood Frame,173.729,1,492000.0,False,True,True
3,"4920 22, Calgary, Alberta T2T 5G8",2 Storey,3,Full,Semi Detached,"$707,500",3,"$729,900","$4,176",C4122199,...,2005,Altadore,3,Wood Frame,156.913,1,776000.0,False,True,False
4,"205 21, Calgary, Alberta t2e 1s5",Bungalow,5,Full,Detached,"$502,000",2,"$524,988","$2,966",C4121963,...,1968,Tuxedo Park,5,Concrete,106.746,0,464000.0,False,True,False

In [66]:
del df["Site Influences"]

In [67]:
df.head()

,Address,Style,Bedrms,Basement,Building Type,Sold Price,Baths Full,List Price,Tax Amount,MLSÂ® Number,...,Yr Built,Community,Beds Total,Construction Type,Tot Flr Area AG Metres,Baths Half,Median assessed value,Cul-De-Sac,Playground Nearby,Golf Nearby
0,"711 SCHUBERT, Calgary, Alberta T3L 1X4",Bi-Level,4,Full,Detached,"$530,000",3,"$549,900","$2,710",C4123006,...,1993,Scenic Acres,4,Wood Frame,121.982,0,528000.0,True,False,True
1,"23 BEDFORD, Calgary, Alberta t3k 1l2",Bi-Level,5,Full,Detached,"$401,888",2,"$389,900","$2,444",C4122649,...,1979,Beddington Heights,5,Wood Frame,115.757,1,355000.0,False,False,False
2,"394 Chaparral ridge, Calgary, Alberta T2X 3X9",2 Storey,4,Full,Detached,"$512,000",3,"$525,000","$3,290",C4122725,...,2006,Chaparral,4,Wood Frame,173.729,1,492000.0,False,True,True
3,"4920 22, Calgary, Alberta T2T 5G8",2 Storey,3,Full,Semi Detached,"$707,500",3,"$729,900","$4,176",C4122199,...,2005,Altadore,3,Wood Frame,156.913,1,776000.0,False,True,False
4,"205 21, Calgary, Alberta t2e 1s5",Bungalow,5,Full,Detached,"$502,000",2,"$524,988","$2,966",C4121963,...,1968,Tuxedo Park,5,Concrete,106.746,0,464000.0,False,True,False

### Remove Style anomaly

In [68]:
df[df["Style"]=="Not Applicable"]

,Address,Style,Bedrms,Basement,Building Type,Sold Price,Baths Full,List Price,Tax Amount,MLSÂ® Number,...,Yr Built,Community,Beds Total,Construction Type,Tot Flr Area AG Metres,Baths Half,Median assessed value,Cul-De-Sac,Playground Nearby,Golf Nearby
7023,"801 23, Calgary, Alberta T2G 1N9",Not Applicable,3,Full,Detached,"$475,000",0,"$499,900","$2,446",C3583185,...,1927,Ramsay,3,Wood Frame,84.000,0,456000.0,False,False,False
7808,"2007 29, Calgary, Alberta T2T 1N4",Not Applicable,3,Walkout,Semi Detached,"$1,250,000",3,"$1,278,000","$7,207",C3580368,...,2007,South Calgary,3,Concrete Insulated,226.500,0,517000.0,False,False,False

In [69]:
df_t = df[df["Style"]!="Not Applicable"]

In [70]:
df_t["Building Type"] = df_t["Building Type"].astype('category')
df_t["Style"] = df_t["Style"].astype('category')
df_t["Basement"] = df_t["Basement"].astype('category')
df_t["Construction Type"] = df_t["Construction Type"].astype('category')

/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### pro-process numeric features

In [71]:
df_t["Tot Flr Area AG Metres"] = df_t["Tot Flr Area AG Metres"].str.replace(",", "")
df_t["Tot Flr Area AG Metres"] = df_t["Tot Flr Area AG Metres"].astype('float64')

/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/tiger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### remove outliners

In [72]:
df_t[df_t["Total Parking"]=='4,321']

,Address,Style,Bedrms,Basement,Building Type,Sold Price,Baths Full,List Price,Tax Amount,MLSÂ® Number,...,Yr Built,Community,Beds Total,Construction Type,Tot Flr Area AG Metres,Baths Half,Median assessed value,Cul-De-Sac,Playground Nearby,Golf Nearby
614,"96 COVERTON, Calgary, Alberta T3K 4P4",2 Storey,4,Full,Detached,"$390,000",1,"$392,900","$2,264",C4066759,...,1997,Coventry Hills,4,Wood Frame,126.534,1,409000.0,False,True,False

### remove Total Parking typo

In [73]:

df_t = df_t[df_t["Total Parking"]!='4,321']

In [74]:
df_t["Total Parking"] = df_t["Total Parking"].astype(int)

In [75]:
#df_t["day_sold"] = pd.to_datetime(df_t["day_sold"])

### Turn money value to numeric

In [76]:
df_t['List Price'] = df_t['List Price'].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)

In [77]:
df_t['Sold Price'] = df_t['Sold Price'].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)
df_t['Tax Amount'] = df_t['Tax Amount'].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)

In [78]:
print(df_t.shape)
print(df_t.dtypes)

(20217, 22)
Address                     object
Style                     category
Bedrms                       int64
Basement                  category
Building Type             category
Sold Price                 float64
Baths Full                   int64
List Price                 float64
Tax Amount                 float64
MLSÂ® Number                 object
day_sold                    object
Total Parking                int64
Yr Built                     int64
Community                   object
Beds Total                   int64
Construction Type         category
Tot Flr Area AG Metres     float64
Baths Half                   int64
Median assessed value      float64
Cul-De-Sac                    bool
Playground Nearby             bool
Golf Nearby                   bool
dtype: object

In [79]:
df_t.to_csv("./data/mls_temp.csv", encoding='utf-8', index=False)

In [80]:
df_new = pd.read_csv("./data/mls_temp.csv")

In [81]:
print(df_new.dtypes)

Address                    object
Style                      object
Bedrms                      int64
Basement                   object
Building Type              object
Sold Price                float64
Baths Full                  int64
List Price                float64
Tax Amount                float64
MLSÂ® Number                object
day_sold                   object
Total Parking               int64
Yr Built                    int64
Community                  object
Beds Total                  int64
Construction Type          object
Tot Flr Area AG Metres    float64
Baths Half                  int64
Median assessed value     float64
Cul-De-Sac                   bool
Playground Nearby            bool
Golf Nearby                  bool
dtype: object

In [82]:
df_t["Construction Type"].value_counts()

Wood Frame            20019
Concrete                153
Concrete Block           19
Modular                  12
Brick                     8
Log                       2
Concrete Insulated        2
Steel Frame               1
Prefab                    1
Name: Construction Type, dtype: int64

In [83]:
df_t["Style"].value_counts()

2 Storey             10502
Bungalow              5286
Bi-Level              1577
4 Lvl Split           1328
2 Sty Split            914
1 & Half St            210
3 Lvl Split            153
3 Storey               114
5 Lvl Split             68
2 & Half St             44
Single Level Unit        7
Sng Wide Mob Hme         6
Modular Home             6
Stacked Townhouse        1
Dbl Wide Mob Hm          1
Name: Style, dtype: int64

In [84]:
df_t["Basement"].value_counts()

Full                          17245
Full, Walkout                  1235
Walkout                        1080
Part                            347
None                            101
Crawl Space, Full                63
Crawl Space, Part                37
Dugout                           29
Crawl Space                      26
Crawl Space, Full, Walkout       14
Part, Walkout                    10
Dugout, Part                      7
Crawl Space, Walkout              6
Full, Part                        5
Dugout, Full                      5
Crawl Space, Dugout               4
Crawl Space, None                 1
None, Walkout                     1
Crawl Space, Dugout, Part         1
Name: Basement, dtype: int64

In [85]:
df_t["Building Type"].value_counts()

Detached               17695
Semi Detached           2041
Row                      465
Single Wide                7
Lowrise Apartment          6
Double Wide                2
High Rise Apartment        1
Name: Building Type, dtype: int64

In [86]:
#df_t["Cul-De-Sac"]

In [87]:
# pd.get_dummies(df_t, columns=["Cul-De-Sac", "Playground Nearby"], prefix=["Cul-De-Sac", "Playground"]).head()

### Use one-hot encoding to transfer categorical features

In [88]:
df_tc = pd.get_dummies(df_t, columns=["Style", "Basement", "Building Type", "Construction Type"], prefix=["Style", "Basement", "Building", "Construction"])

In [89]:
df_tc["Cul-De-Sac"] = df_tc["Cul-De-Sac"].astype(int)
df_tc["Playground Nearby"] = df_tc["Playground Nearby"].astype(int)
df_tc["Golf Nearby"] = df_tc["Golf Nearby"].astype(int)

In [90]:
df_tc.dtypes

Address                             object
Bedrms                               int64
Sold Price                         float64
Baths Full                           int64
List Price                         float64
Tax Amount                         float64
MLSÂ® Number                         object
day_sold                            object
Total Parking                        int64
Yr Built                             int64
Community                           object
Beds Total                           int64
Tot Flr Area AG Metres             float64
Baths Half                           int64
Median assessed value              float64
Cul-De-Sac                           int64
Playground Nearby                    int64
Golf Nearby                          int64
Style_1 & Half St                    uint8
Style_2 & Half St                    uint8
Style_2 Storey                       uint8
Style_2 Sty Split                    uint8
Style_3 Lvl Split                    uint8
Style_3 Storey                       uint8
Style_4 Lvl Split                    uint8
Style_5 Lvl Split                    uint8
Style_Bi-Level                       uint8
Style_Bungalow                       uint8
Style_Dbl Wide Mob Hm                uint8
Style_Modular Home                   uint8
                                    ...
Basement_Crawl Space, None           uint8
Basement_Crawl Space, Part           uint8
Basement_Crawl Space, Walkout        uint8
Basement_Dugout                      uint8
Basement_Dugout, Full                uint8
Basement_Dugout, Part                uint8
Basement_Full                        uint8
Basement_Full, Part                  uint8
Basement_Full, Walkout               uint8
Basement_None                        uint8
Basement_None, Walkout               uint8
Basement_Part                        uint8
Basement_Part, Walkout               uint8
Basement_Walkout                     uint8
Building_Detached                    uint8
Building_Double Wide                 uint8
Building_High Rise Apartment         uint8
Building_Lowrise Apartment           uint8
Building_Row                         uint8
Building_Semi Detached               uint8
Building_Single Wide                 uint8
Construction_Brick                   uint8
Construction_Concrete                uint8
Construction_Concrete Block          uint8
Construction_Concrete Insulated      uint8
Construction_Log                     uint8
Construction_Modular                 uint8
Construction_Prefab                  uint8
Construction_Steel Frame             uint8
Construction_Wood Frame              uint8
Length: 68, dtype: object

In [91]:
df_tc.head()

,Address,Bedrms,Sold Price,Baths Full,List Price,Tax Amount,MLSÂ® Number,day_sold,Total Parking,Yr Built,...,Building_Single Wide,Construction_Brick,Construction_Concrete,Construction_Concrete Block,Construction_Concrete Insulated,Construction_Log,Construction_Modular,Construction_Prefab,Construction_Steel Frame,Construction_Wood Frame
0,"711 SCHUBERT, Calgary, Alberta T3L 1X4",4,530000.0,3,549900.0,2710.0,C4123006,08/02/2017,4,1993,...,0,0,0,0,0,0,0,0,0,1
1,"23 BEDFORD, Calgary, Alberta t3k 1l2",5,401888.0,2,389900.0,2444.0,C4122649,06/23/2017,2,1979,...,0,0,0,0,0,0,0,0,0,1
2,"394 Chaparral ridge, Calgary, Alberta T2X 3X9",4,512000.0,3,525000.0,3290.0,C4122725,07/02/2017,4,2006,...,0,0,0,0,0,0,0,0,0,1
3,"4920 22, Calgary, Alberta T2T 5G8",3,707500.0,3,729900.0,4176.0,C4122199,08/18/2017,2,2005,...,0,0,0,0,0,0,0,0,0,1
4,"205 21, Calgary, Alberta t2e 1s5",5,502000.0,2,524988.0,2966.0,C4121963,06/17/2017,2,1968,...,0,0,1,0,0,0,0,0,0,0

In [92]:
df_tc.to_csv("./data/mls_cat.csv", encoding='utf-8', index=False)

In [93]:
df_tc.dtypes

Address                             object
Bedrms                               int64
Sold Price                         float64
Baths Full                           int64
List Price                         float64
Tax Amount                         float64
MLSÂ® Number                         object
day_sold                            object
Total Parking                        int64
Yr Built                             int64
Community                           object
Beds Total                           int64
Tot Flr Area AG Metres             float64
Baths Half                           int64
Median assessed value              float64
Cul-De-Sac                           int64
Playground Nearby                    int64
Golf Nearby                          int64
Style_1 & Half St                    uint8
Style_2 & Half St                    uint8
Style_2 Storey                       uint8
Style_2 Sty Split                    uint8
Style_3 Lvl Split                    uint8
Style_3 Storey                       uint8
Style_4 Lvl Split                    uint8
Style_5 Lvl Split                    uint8
Style_Bi-Level                       uint8
Style_Bungalow                       uint8
Style_Dbl Wide Mob Hm                uint8
Style_Modular Home                   uint8
                                    ...
Basement_Crawl Space, None           uint8
Basement_Crawl Space, Part           uint8
Basement_Crawl Space, Walkout        uint8
Basement_Dugout                      uint8
Basement_Dugout, Full                uint8
Basement_Dugout, Part                uint8
Basement_Full                        uint8
Basement_Full, Part                  uint8
Basement_Full, Walkout               uint8
Basement_None                        uint8
Basement_None, Walkout               uint8
Basement_Part                        uint8
Basement_Part, Walkout               uint8
Basement_Walkout                     uint8
Building_Detached                    uint8
Building_Double Wide                 uint8
Building_High Rise Apartment         uint8
Building_Lowrise Apartment           uint8
Building_Row                         uint8
Building_Semi Detached               uint8
Building_Single Wide                 uint8
Construction_Brick                   uint8
Construction_Concrete                uint8
Construction_Concrete Block          uint8
Construction_Concrete Insulated      uint8
Construction_Log                     uint8
Construction_Modular                 uint8
Construction_Prefab                  uint8
Construction_Steel Frame             uint8
Construction_Wood Frame              uint8
Length: 68, dtype: object

In [94]:
del df_tc["Address"]

In [95]:
del df_tc["MLSÂ® Number"]

### Do not intend to exploring the temporal effect now

In [96]:
#do not intend to exploring the temporal effect now
del df_tc["day_sold"]

In [97]:
del df_tc["Community"]
del df_tc["Beds Total"]

In [98]:
df_tc.dtypes

Bedrms                               int64
Sold Price                         float64
Baths Full                           int64
List Price                         float64
Tax Amount                         float64
Total Parking                        int64
Yr Built                             int64
Tot Flr Area AG Metres             float64
Baths Half                           int64
Median assessed value              float64
Cul-De-Sac                           int64
Playground Nearby                    int64
Golf Nearby                          int64
Style_1 & Half St                    uint8
Style_2 & Half St                    uint8
Style_2 Storey                       uint8
Style_2 Sty Split                    uint8
Style_3 Lvl Split                    uint8
Style_3 Storey                       uint8
Style_4 Lvl Split                    uint8
Style_5 Lvl Split                    uint8
Style_Bi-Level                       uint8
Style_Bungalow                       uint8
Style_Dbl Wide Mob Hm                uint8
Style_Modular Home                   uint8
Style_Single Level Unit              uint8
Style_Sng Wide Mob Hme               uint8
Style_Stacked Townhouse              uint8
Basement_Crawl Space                 uint8
Basement_Crawl Space, Dugout         uint8
                                    ...
Basement_Crawl Space, None           uint8
Basement_Crawl Space, Part           uint8
Basement_Crawl Space, Walkout        uint8
Basement_Dugout                      uint8
Basement_Dugout, Full                uint8
Basement_Dugout, Part                uint8
Basement_Full                        uint8
Basement_Full, Part                  uint8
Basement_Full, Walkout               uint8
Basement_None                        uint8
Basement_None, Walkout               uint8
Basement_Part                        uint8
Basement_Part, Walkout               uint8
Basement_Walkout                     uint8
Building_Detached                    uint8
Building_Double Wide                 uint8
Building_High Rise Apartment         uint8
Building_Lowrise Apartment           uint8
Building_Row                         uint8
Building_Semi Detached               uint8
Building_Single Wide                 uint8
Construction_Brick                   uint8
Construction_Concrete                uint8
Construction_Concrete Block          uint8
Construction_Concrete Insulated      uint8
Construction_Log                     uint8
Construction_Modular                 uint8
Construction_Prefab                  uint8
Construction_Steel Frame             uint8
Construction_Wood Frame              uint8
Length: 63, dtype: object

## Manually check outliners

In [99]:
df_tc.sort_values("Total Parking", ascending = "1")["Total Parking"]

2981      0
8531      0
5444      0
10436     0
16155     0
907       0
5435      0
11695     0
915       0
8530      0
10423     0
3121      0
6601      0
6602      0
19373     0
16164     0
11691     0
11611     0
6631      0
16985     0
10371     0
10459     0
13456     0
7977      0
16101     0
777       0
4491      0
7397      0
18490     0
14063     0
         ..
12888     8
5697      8
10989     9
6875      9
10988     9
8200      9
8827      9
17713     9
19273    10
4338     10
13713    10
1935     10
16179    10
8210     10
20103    10
5691     10
17133    10
3554     10
17134    10
15250    10
10403    12
14505    12
10402    12
16304    20
10281    22
16356    23
7775     36
1273     41
1274     41
1932     99
Name: Total Parking, Length: 20217, dtype: int64

In [100]:
df_tc = df_tc.drop(df_tc[df_tc["Total Parking"] > 12].index)

In [101]:
df_tc.loc[[2266]]  #["Total Parking"]

,Bedrms,Sold Price,Baths Full,List Price,Tax Amount,Total Parking,Yr Built,Tot Flr Area AG Metres,Baths Half,Median assessed value,...,Building_Single Wide,Construction_Brick,Construction_Concrete,Construction_Concrete Block,Construction_Concrete Insulated,Construction_Log,Construction_Modular,Construction_Prefab,Construction_Steel Frame,Construction_Wood Frame
2266,3,442000.0,2,449900.0,2532.0,2,1996,172.0,1,427000.0,...,0,0,0,0,0,0,0,0,0,1

In [102]:
#df_tc.sort_values("Beds Total", ascending = ["0"])["Beds Total"]

In [103]:
df_tc.sort_values("Baths Full", ascending = ["0"])["Baths Full"]

20011     0
16544     0
9159      0
11714     0
12361     0
12956     0
15051     0
5992      0
8458      0
9776      0
4412      0
1614      0
18694     0
18366     0
5371      0
15027     0
12411     0
4351      0
17958     0
8531      0
9831      0
3919      0
14105     0
8474      0
12859     0
8418      0
18394     0
13487     0
6537      0
8291      0
         ..
4272      5
2531      5
19706     5
6571      5
8937      5
18896     6
8965      6
1182      6
800       6
9277      6
17743     6
4676      6
14505     6
11488     6
11487     6
19240     6
17226     6
13447     6
4675      6
932       6
18541     7
3641      7
20009     7
10402     7
15166     7
14620     7
11827     7
10403     7
7004      7
12277    12
Name: Baths Full, Length: 20210, dtype: int64

In [104]:
df_tc = df_tc.drop(df_tc[df_tc["Baths Full"] == 12].index)

In [105]:
#mls_ready.csv: input to machine learning model
df_tc.to_csv("./data/mls_ready.csv", encoding='utf-8', index=False)

In [106]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df_tc, test_size=0.2)

df_dev, df_test = train_test_split(df_test, test_size=0.5)
"""
msk = np.random.rand(len(df_tc)) < 0.8
df_train = df_tc[msk]
df_test = df_tc[~msk]

msk_vt = np.random.rand(len(df_test)) < 0.5
df_dev = df_test[msk_vt]
df_test = df_test[~msk_vt]
"""

'\nmsk = np.random.rand(len(df_tc)) < 0.8\ndf_train = df_tc[msk]\ndf_test = df_tc[~msk]\n\nmsk_vt = np.random.rand(len(df_test)) < 0.5\ndf_dev = df_test[msk_vt]\ndf_test = df_test[~msk_vt]\n'

In [107]:
print(df_train.shape)
print(df_dev.shape)
print(df_test.shape)

(16167, 63)
(2021, 63)
(2021, 63)

In [108]:
df_train.to_csv("./data/mls_train.csv", encoding='utf-8', index=False)
df_dev.to_csv("./data/mls_dev.csv", encoding='utf-8', index=False)
df_test.to_csv("./data/mls_test.csv", encoding='utf-8', index=False)